# A summary of all packages that should not have to be listed explicitly.
colorama>=0.4.1                 # platform_system == "Windows" from tox==3.14.5
importlib-resources<2,>=1.0     # python_version < "3.7" from virtualenv==20.0.7
importlib-metadata>=0.12        # python_version < "3.8" from pytest==5.3.5
atomicwrites==1.2.1